<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Art Gallery Page</title>
</head>
{%extends 'template.html'%}
{%load static%}
<body>
    {%block content%}
    <div>
        <img src="{% static 'IMGS/GalleryPage.png' %}" class="object-fit-fill w-screen h-screen" alt="HomePageBackground">
    </div>  
    <div class="absolute top-[105px] left-72 w-[506px] h-[368px] bg-white">
        <img src="{% get_media_prefix %}{{img_url}}" class="w-[506px] h-[368px] object-contain" alt="Logo">
    </div>
    <div class="absolute top-[40px] right-16 w-[506px] h-fit bg-white rounded-xl flex flex-col items-start justify-start gap-3 overflow-hidden border- border-black shadow shadow-2xl pb-10">
        <h1 class="flex font-heading text-5xl w-full text-white items-center justify-center h-20 bg-orange-700">{{title}}</h1>
        <div class="flex flex-row w-full justify-start items-center px-10">
            <h3 class="text-2xl font-body font-semibold w-1/2">Artist Name:</h3>
            <h3 class="text-2xl font-body font-semibold w-1/2">{{artist.name}}</h3>
        </div>
        <div class="flex flex-row w-full justify-start items-center px-10">
            <h3 class="text-2xl font-body font-semibold w-1/2">Art Type:</h3>
            <h3 class="text-2xl font-body font-semibold w-1/2">{{type}}</h3>
        </div>
        <div class="flex flex-row w-full justify-start items-start px-10">
            <h3 class="text-2xl font-body font-semibold w-1/2">Description:</h3>
            <h3 class="text-2xl font-body w-1/2">{{description}}</h3>
        </div>
        {% if payment == 'Onetime Payment'%}
        <div class="flex flex-row w-full justify-start items-center px-10 flex-wrap">
            <h3 class="text-2xl font-body font-semibold w-1/2">Payment Type:</h3>
            <h3 class="text-2xl font-body font-semibold w-1/2">Rs.{{price}}</h3>
            <h3 class="text-2xl font-body font-semibold w-full text-center mt-3">({{payment}})</h3>
        </div>
        <div class="flex flex-row w-full justify-start items-center px-10">
            <h3 class="text-2xl font-body font-semibold w-1/2">Validity:</h3>
            <h3 class="text-2xl font-body w-1/2">{{lifetime}}</h3>
        </div>
        <div class="flex flex-row w-full justify-start items-center px-10">
            <h3 class="text-2xl font-body font-semibold w-1/2">Rating:</h3>
            <div class="flex flex-row gap-1">
                {%for star in range %}
                    {%if star <= rating%}
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" class="fill-amber-500"><path d="M6.575 20.95 8 14.8l-4.775-4.15 6.3-.55L12 4.275l2.475 5.825 6.3.55L16 14.8l1.425 6.15L12 17.7Z"/></svg>
                    {%else%}
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" class="fill-gray-600"><path d="m8.85 17.825 3.15-1.9 3.15 1.925-.825-3.6 2.775-2.4-3.65-.325-1.45-3.4-1.45 3.375-3.65.325 2.775 2.425ZM6.575 20.95 8 14.8l-4.775-4.15 6.3-.55L12 4.275l2.475 5.825 6.3.55L16 14.8l1.425 6.15L12 17.7ZM12 13.25Z"/></svg>
                    {%endif%}
                {%endfor%}
            <p>({{rating}})</p>
            </div>
        </div>
        {% else %}
        <div class="flex flex-row w-full justify-start items-center px-10 flex-wrap">
            <h3 class="text-2xl font-body font-semibold w-1/2">Payment Type:</h3>
            <h3 class="text-2xl font-body font-semibold w-1/2">Rs.{{price}}/Year</h3>
            <h3 class="text-2xl font-body font-semibold w-full text-center mt-3">({{payment}})</h3>
        </div>
        <div class="flex flex-row w-full justify-start items-center px-10">
            <h3 class="text-2xl font-body font-semibold w-1/2">Validity:</h3>
            <h3 class="text-2xl font-body w-1/2">{{lifetime}}</h3>
        </div>
        <div class="flex flex-row w-full justify-start items-center px-10">
            <h3 class="text-2xl font-body font-semibold w-1/2">Rating:</h3>
            <div class="flex flex-row gap-1">
                {%for star in range %}
                    {%if star <= rating%}
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" class="fill-amber-500"><path d="M6.575 20.95 8 14.8l-4.775-4.15 6.3-.55L12 4.275l2.475 5.825 6.3.55L16 14.8l1.425 6.15L12 17.7Z"/></svg>
                    {%else%}
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" class="fill-gray-600"><path d="m8.85 17.825 3.15-1.9 3.15 1.925-.825-3.6 2.775-2.4-3.65-.325-1.45-3.4-1.45 3.375-3.65.325 2.775 2.425ZM6.575 20.95 8 14.8l-4.775-4.15 6.3-.55L12 4.275l2.475 5.825 6.3.55L16 14.8l1.425 6.15L12 17.7ZM12 13.25Z"/></svg>
                    {%endif%}
                {%endfor%}
            <p>({{rating}})</p>
            </div>
        </div>
        {% endif %}
        <div class="flex flex-row w-full justify-center items-center px-10 gap-5 mt-3">
            <div class="flex items-center justify-center h-10 w-40 bg-green-700 text-white font-bold text-xl hover:bg-green-500 z-50 cursor-pointer rounded-md">
                <button type="button" id="paynow">Order Now</button>
            </div>
            <div class="flex items-center justify-center h-10 w-40 bg-blue-700 text-white font-bold text-xl hover:bg-blue-500 z-50 cursor-pointer rounded-md">
                <button type="button" id="addreview">Add A Review</button>
            </div>
        </div>  
        <div class="self-center flex items-center justify-center h-10 w-3/4 bg-orange-700 text-white font-bold text-xl hover:bg-orange-600 z-50 cursor-pointer rounded-md">
            <button type="button" class="filter">Filter</button>
        </div>
    </div>
    <form method="POST" id="moveForm">
        {%csrf_token%}
        <input type="hidden" name="move" id="move" value=""/>
    </form> 
    <form method="POST" id="orderForm">
        {%csrf_token%}
        <input name='img_url' value="{{img_url}}" type="hidden"/>
        <input name='title' value="{{title}}" type="hidden"/>
        <input name='artist' value="{{artist}}" type="hidden"/>
        <input name='type' value="{{type}}" type="hidden"/>
        <input name='price' value="{{price}}" type="hidden"/>
        <input name='order' value="order" type="hidden"/>
        <input name='lifetime' value="{{lifetime}}" type="hidden"/>
        <input name='payment' value="{{payment}}" type="hidden"/>
        <input name='description' value="{{description}}" type="hidden"/>
        <input name='rating' value="{{rating}}" type="hidden"/>
    </form>
    <form method="POST" id="reviewForm">
        {%csrf_token%}
        <input name='img_url' value="{{img_url}}" type="hidden"/>
        <input name='title' value="{{title}}" type="hidden"/>
        <input name='artist' value="{{artist}}" type="hidden"/>
        <input name='type' value="{{type}}" type="hidden"/>
        <input name='price' value="{{price}}" type="hidden"/>
        <input name='review' value="review" type="hidden"/>
        <input name='lifetime' value="{{lifetime}}" type="hidden"/>
        <input name='payment' value="{{payment}}" type="hidden"/>
        <input name='description' value="{{description}}" type="hidden"/>
        <input name='rating' value="{{rating}}" type="hidden"/>
    </form> 
    <div class="absolute flex items-center justify-center bottom-[398px] left-4 h-10 w-40 bg-transparent text-stone-900 font-bold text-xl hover:text-white z-50 cursor-pointer">
        <button type="button" id="next">NEXT</button>
    </div>
    <div class="absolute flex items-center justify-center bottom-[334px] left-4 h-10 w-40 bg-transparent text-stone-900 font-bold text-xl hover:text-white z-50 curor-pointer">
        <button type="button" id="previous">PREVIOUS</button>
    </div>
    <a href="{%url 'index'%}" class="absolute flex items-center justify-center bottom-[273px] left-4 h-10 w-40 bg-transparent font-bold text-lg text-stone-900 hover:text-white z-50">GO TO HOME</a>
    <div class="absolute top-0 hidden sidebar">
        <div class="flex h-screen w-screen">
            <div class="flex flex-col align-center justify-center h-[300px] w-[500px] border-2 border-black rounded-2xl py-6 m-auto gap-8 relative overflow-hidden">
                <div class="absolute top-0 w-full h-full">
                    <img src="{%static 'IMGS/CardBGFront.png'%}" class="w-full h-full"/>
                </div>
                <div class="absolute top-0 right-0 w-36 h-36 rounded-full bg-black m-3 overflow-hidden">
                    <img src="{%get_media_prefix%}{%if group == 'Artist'%}{{user.artist.profile_pic}}{%else%}{{user.customer.profile_pic}}{%endif%}" class="w-full h-full"/>
                </div>
                <div class="absolute top-0 z-10 p-5">
                    <h3 class="font-body text-orange-700 font-bold text-4xl text-left underline decoration-amber-500 underline-offset-4">{%if group == 'Artist'%}{{user.artist.name}}{%else%}{{user.customer.name}}{%endif%}</h3>
                    <p class="mx-auto text-xl text-left font-semibold px-3 py-6 font-body">To Create A Work Of Art Is To<br><span class="text-orange-700 text-2xl">Create A World</span></p>
                    <div class="flex flex-row w-full h-12 text-xl font-bold text-white">
                        <a href="{% url 'logout' %}" class="mx-auto bg-orange-600 hover:bg-orange-700 rounded-md flex items-center justify-center w-1/3">Logout</a>
                        <a href="{% url 'index' %}" class="mx-auto bg-orange-600 hover:bg-orange-700 rounded-md flex items-center justify-center w-1/3">Home</a>
                    </div>
                </div>
                <div class="absolute bottom-0 right-0 text-orange-700 m-8 font-heading text-2xl">
                    Art Gallery
                </div>
            </div>
        </div>
    </div>
    <div class="absolute top-10 left-0 font-body text-white text-2xl">
        <a class="bg-orange-700 h-12 w-32 hover:bg-orange-600 block  flex items-center justify-center" href="{%url 'reception'%}"><- Back</a>
    </div>
    <div class="hidden absolute w-screen bg-transparent backdrop-blur-sm h-screen top-0 z-50" id="filterform">
        <div class="flex w-full h-full">
            <div class=" w-1/2 h-fit bg-white m-auto rounded-xl border border-black relative">
                <button class="filter absolute top-5 right-10 text-4xl">&times;</button>
                <h1 class="text-4xl font-heading text-center mt-6">Filter</h1>
                <form enctype="multipart/form-data" method="POST" class="text-xl flex flex-col gap-3 items-center justify-center p-10 font-body">
                    {% csrf_token %}
                    <div class="flex flex-row gap-5 px-3 w-full">
                        <label for="type" class="w-1/3">Type</label>
                        <select name="type" id="type" class="w-full indent-4 font-body h-10 border border-gray-300 rounded-md">
                            <option value="" selected disabled hidden>Choose here</option>
                            <option value="Painting">Painting</option>
                            <option value="Photography">Photography</option>
                            <option value="Digital Art">Digital Art</option>
                        </select>
                    </div>
                    <div class="flex flex-row gap-5 px-3 w-full">
                        <label for="rating" class="w-1/3">Rated Stars</label>
                        <select name="rating" id="type" class="w-full indent-4 font-body h-10 border border-gray-300 rounded-md">
                            <option value="" selected disabled hidden>Choose here</option>
                            <option value="0">0+</option>
                            <option value="1">1+</option>
                            <option value="2">2+</option>
                            <option value="3">3+</option>
                            <option value="4">4+</option>
                        </select>
                    </div>
                    <div class="flex flex-row gap-5 px-3 w-full">
                        <label for="price" class="w-1/3">Price</label>
                        <select name="price" id="price" class="w-full indent-4 font-body h-10 border border-gray-300 rounded-md">
                            <option value="" selected disabled hidden>Choose here</option>
                            <option value="100">Rs 100+</option>
                            <option value="1000">Rs 1000+</option>
                            <option value="5000">Rs 5000+</option>
                            <option value="10000">Rs 10000+</option>
                            <option value="50000">Rs 50000+</option>
                        </select>
                    </div>
                    <input type="hidden" name="filter"/>
                    <button type="submit" class="mx-auto bg-orange-700 hover:bg-orange-600 rounded-md flex items-center justify-center w-1/3 h-12 text-white font-body font-semibold text-xl mt-5">Filter Out</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).on('click', function(event) {
            if (event.target.id == "next") {
                $('#move').val('next');
                $('#moveForm').submit();
            }
            if (event.target.id == "previous") {
                $('#move').val('previous');
                $('#moveForm').submit();
            }
            if (event.target.id == "paynow") {
                $('#orderForm').submit();
            }
            if (event.target.id == "addreview") {
                $('#reviewForm').submit();
            }
        });
        $(document).on('click', '.filter', function(event) {
            $('#filterform').toggleClass('hidden');
        });
    </script>
    {%endblock%}
</body>

</html>



