<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Gallery Profile</title>
</head>
{%extends 'template.html'%}
{%load static%}
<body>
    {%block content%}
    <div>
        <img src="{% static 'IMGS/paper.jpg' %}" class="w-screen h-screen" alt="ProfilePageBackground">
    </div>
    <div class="absolute top-0 w-screen">
        <h1 class="font-heading text-7xl text-center my-10 w-full mx-auto">Profile Page</h1>
        <div class="flex flex-col mx-10 font-body text-2xl">
            <div class="flex  w-1/2 m-4">
                <label for="id_name" class="w-1/2">Username:</label> 
                <p >{{user.username}}</p>
            </div>
            <div class="flex  w-1/2 m-4">
                <label for="id_name" class="w-1/2">Name:</label> 
                <p >{% if group == 'Artist' %}{{user.artist.name}}{% else %}{{user.customer.name}}{% endif %}</p>
            </div>
            <div class="flex  w-1/2 m-4">
                <label for="id_about" class="w-1/2">Address:</label>
                <p >{% if group == 'Artist' %}{{user.artist.address}}{% else %}{{user.customer.address}}{% endif %}</p>
            </div>
            <div class="flex  w-1/2 m-4">
                <label for="id_location" class="w-1/2">Country:</label>
                <p >{% if group == 'Artist' %}{{user.artist.country}}{% else %}{{user.customer.country}}{% endif %}</p>
            </div>
            <div class="flex  w-1/2 m-4 ">
                <label for="id_city" class="w-1/2" >Email:</label>
                <p>{% if group == 'Artist' %}{{user.artist.email}}{% else %}{{user.customer.email}}{% endif %}</p>
            </div>
            <div class="flex  w-1/2 m-4">
                <label for="id_phone" class="w-1/2">Phone No:</label>
                <p >{% if group == 'Artist' %}{{user.artist.phone}}{% else %}{{user.customer.phone}}{% endif %}</p>
            </div>
            {% if group == 'Artist' %}
            <div class="flex  w-1/2 m-4">
                <label for="id_state" class="w-1/2">Rating:</label>
                <div class="flex flex-row gap-1">
                    {%for star in range %}
                        {%if star <= user.artist.rating%}
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" class="fill-amber-500"><path d="M6.575 20.95 8 14.8l-4.775-4.15 6.3-.55L12 4.275l2.475 5.825 6.3.55L16 14.8l1.425 6.15L12 17.7Z"/></svg>
                        {%else%}
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" class="fill-gray-600"><path d="m8.85 17.825 3.15-1.9 3.15 1.925-.825-3.6 2.775-2.4-3.65-.325-1.45-3.4-1.45 3.375-3.65.325 2.775 2.425ZM6.575 20.95 8 14.8l-4.775-4.15 6.3-.55L12 4.275l2.475 5.825 6.3.55L16 14.8l1.425 6.15L12 17.7ZM12 13.25Z"/></svg>
                        {%endif%}
                    {%endfor%}
                <p>({{user.artist.rating}})</p>
                </div>
            </div>
            {% endif %}
            <button class="bg-orange-600 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-md my-4 w-1/2 EditProfileModal">Edit Profile</button>
        </div>
    </div>
    <div class="absolute right-40 top-20 w-64 h-64 rounded-full">
        <img src="{%get_media_prefix%}{% if group == 'Artist' %}{{user.artist.profile_pic}}{% else %}{{user.customer.profile_pic}}{% endif %}" class="w-full h-full rounded-full hover:scale-105 transition" alt="ProfilePic">
    </div>
    <div class="absolute top-10 left-0 font-body text-white text-2xl">
        <a class="bg-orange-700 h-12 w-32 hover:bg-orange-600 block  flex items-center justify-center" href="{%url 'reception'%}"><- Back</a>
    </div>
    <div class="hidden absolute w-screen bg-transparent backdrop-blur-sm h-screen top-0 z-50" id="ProfileModal">
        <div class="flex w-full h-full">
            <div class=" w-1/2 h-fit bg-white m-auto rounded-xl border border-black relative">
                <h3 class="text-5xl font-heading text-center my-5">Edit Profile</h3>
                <button class="EditProfileModal absolute top-5 right-10 text-4xl">&times;</button>
                <form enctype="multipart/form-data" method="POST" class="text-xl flex flex-col gap-2 items-center justify-center px-10 py-5 font-body">
                    {% csrf_token %}
                    <div class="flex flex-row gap-2 w-full">
                        <label for="uname" class="w-1/2">Username:</label>
                        <input type="text" id="uname" name="uname" class="w-full indent-4 font-body h-10 border border-gray-400 rounded-md" placeholder="{{user.username}}"><br>
                    </div>
                    <div class="flex flex-row gap-2 w-full">
                        <label for="name" class="w-1/2">Name:</label>
                        <input type="text" id="name" name="name" class="w-full indent-4 font-body h-10 border border-gray-400 rounded-md" placeholder="{% if group == 'Artist' %}{{user.artist.name}}{% else %}{{user.customer.name}}{% endif %}"><br>
                    </div>
                    <div class="flex flex-row gap-2 w-full">
                        <label for="address" class="w-1/2">Address:</label>
                        <textarea name="address" id="address" class="w-full indent-4 font-body h-32 border border-gray-400 rounded-md resize-none py-2" placeholder="{% if group == 'Artist' %}{{user.artist.address}}{% else %}{{user.customer.address}}{% endif %}" class="w-full"></textarea>
                    </div>
                    <div class="flex flex-row gap-2 w-full">
                        <label for="country" class="w-1/2">Country:</label>
                        <select name="country" class="w-full indent-4 font-body h-10 border border-gray-400 rounded-md" id="id_country">
                            <option value="" selected hidden disabled>Choose A Country</option>
                            {% for country in countries %}
                                {%if country == user.artist.country or country == user.customer.country%}
                                    <option value="{{country}}" selected>{{country}}</option>
                                {%else%}
                                    <option value="{{country}}">{{country}}</option>
                                {%endif%}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="flex flex-row gap-2 w-full">
                        <label for="email" class="w-1/2">Email:</label>
                        <input type="text" id="email" name="email" class="w-full indent-4 font-body h-10 border border-gray-400 rounded-md" placeholder="{% if group == 'Artist' %}{{user.artist.email}}{% else %}{{user.customer.email}}{% endif %}"><br>
                    </div>
                    <div class="flex flex-row gap-2 w-full">
                        <label for="phone" class="w-1/2">Phone No:</label>
                        <input type="text" id="phone" name="phone" class="w-full indent-4 font-body h-10 border border-gray-400 rounded-md" placeholder="{% if group == 'Artist' %}{{user.artist.phone}}{% else %}{{user.customer.phone}}{% endif %}"><br>
                    </div>
                    <div class="flex flex-row gap-2 w-full">
                        <label for="profile_pic" class="w-1/2">Profile Pic:</label>
                        <input type="file" id="profile_pic" name="profile_pic" class="w-full"><br>
                    </div>
                    <button type="submit" class="mx-auto bg-orange-600 hover:bg-orange-700 rounded-md flex items-center justify-center w-1/3 h-12 text-white font-body font-semibold text-xl">Save Profile</button>
                </form>
            </div>
        </div>
    </div>
    <div class="absolute bottom-14 right-20 flex flex-col align-center justify-center h-[300px] w-[500px] bg-gray-300 border-2 border-black rounded-2xl py-6 gap-8 -rotate-12 hover:-rotate-3 delay-75 transition-all ease-linear overflow-hidden">
        <div class="absolute top-0 w-full h-full">
            <img src="{%static 'IMGS/CardBGFront.png'%}" class="w-full h-full"/>
        </div>
        <div class="absolute top-0 right-0 w-36 h-36 rounded-full bg-black m-3 overflow-hidden">
            <img src="{%get_media_prefix%}{%if group == 'Artist'%}{{user.artist.profile_pic}}{%else%}{{user.customer.profile_pic}}{%endif%}" class="w-full h-full"/>
        </div>
        <div class="absolute top-0 z-10 p-5">
            <h3 class="font-body text-orange-700 font-bold text-4xl text-left underline decoration-amber-500 underline-offset-4">{%if group == 'Artist'%}{{user.artist.name}}{%else%}{{user.customer.name}}{%endif%}</h3>
            <p class="mx-auto text-xl text-left font-semibold px-3 py-6 font-body">To Create A Work Of Art Is To<br><span class="text-orange-700 text-2xl">Create A World</span></p>
            <div class="flex flex-row w-full h-12 text-xl font-bold text-white">
                <a href="{% url 'logout' %}" class="mx-auto bg-orange-600 hover:bg-orange-700 rounded-md flex items-center justify-center w-1/3">Logout</a>
                <a href="{% url 'index' %}" class="mx-auto bg-orange-600 hover:bg-orange-700 rounded-md flex items-center justify-center w-1/3">Home</a>
            </div>
        </div>
        <div class="absolute bottom-0 right-0 text-orange-700 m-8 font-heading text-2xl">
            Art Gallery
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $(".EditProfileModal").click(function(){
                $("#ProfileModal").toggleClass('hidden');
            });
        });
    </script>
    {%endblock%}
</body>
</html>