<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>   
    <title>Gallery Page</title>
</head>
<body>
    <div>
        <img src="{% static 'IMGS/ReviewPage.png' %}" class="object-fit-fill w-screen h-screen" alt="HomePageBackground">
    </div>  
    <div class="absolute top-[103px] left-[185px] w-[369px] h-[270px] bg-white">
        <img src="{% get_media_prefix %}{{img_url}}" class="w-[369px] h-[270px] object-contain" alt="Logo">
    </div>
    <div class="absolute top-[430px] left-[116px] w-[500px] h-[180px] bg-white rounded-xl shadow-2xl overflow-hidden">
        <h1 class="flex w-full items-center justify-center bg-orange-700 h-12 text-white text-3xl">{{title}}</h1>
        <div class="flex flex-col w-full h-fit items-center justify-center text-xl gap-3 py-5 px-10 font-semibold">
            <div class="flex flex-row w-full items-center justify-center gap-2">
                <h1 class="text-2xl w-1/2">Art By: </h1>
                <h1 class="text-2xl w-1/2">{{artist}}</h1>
            </div>
            <div class="flex flex-row w-full items-center justify-center gap-2">
                <h1 class="text-2xl w-1/2">Average Rating: </h1>
                <h1 class="text-2xl w-1/2">{{rating}}</h1>
            </div>
        </div>
    </div>
    <div class="absolute flex flex-col gap-3 top-[30px] right-[60px] w-[780px] h-[680px] bg-white rounded-xl shadow-2xl overflow-hidden p-5">
        <h3 class="text-2xl font-semibold self-start">Reviews:</h3>
        <div class="h-[260px] overflow-y-auto flex flex-col gap-5 items-center justify-between">
            {% for comment in comments %}
                <div class="flex flex-col w-full h-fit items-center justify-center text-xl gap-2 py-5 px-10 border border-gray-300 rounded-md shadow-none hover:shadow-md">
                    <h1 class="text-2xl w-full font-semibold">{{comment.cname}} ({{comment.crole}})</h1>
                    <p class="text-md w-full">{{comment.comment}}</p>
                </div>
            {% endfor %}
        </div>
        <form class="w-full px-10 flex flex-col items-center justify-center border rounded-md py-5 border-gray-300 shadow-lg" method="POST">
            {% csrf_token %}
            <label for="comment" class="text-2xl font-semibold self-start">Comment:</label>
            <textarea class="w-full h-24 border border-gray-300 rounded-md p-3" name="comment" id="comment" placeholder="Enter your comment here..."></textarea><br>
            <label for="rating" class="text-2xl font-semibold self-start">Rating:</label>
            <select name="rating" id="rating" class="w-full h-8 border border-gray-300 rounded-md p-1">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button class="w-1/4 mx-auto mt-4 h-12 bg-orange-700 text-white text-2xl font-semibold rounded-md hover:bg-orange-500">Submit</button>
        </form>
    </div>
</body>
</html>